*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
@import "./components/index";
@import "./components/sobremi";
@import "./components/contacto";
@import "./components/porfolio";