@import "../base/extend";
@import "../base/maps";
@import "../base/mixin";
@import "../base/variables";
.contenedor-general{

    margin-top: 6rem;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    @include justify-align;


    .contenedor-contactame{
        width: 100%;
        padding-bottom: 1rem;
        @include justify-center;
        
        h1{
            color: $blanco201;
        }
    }
    .contenedor-form{

        background-color: $negro20;
        @include justify-align;
        flex-direction: column;
        padding: 1rem;
        width: 70%;
        height: 70%;

        .form{
            width: 100%;
            flex-grow: 1;
            text-align: center;
            padding: 1rem;
            order:5;
        }
        .form__input:focus{


            outline: none;
            background: linear-gradient(to top, transparent, #222);
            border-bottom: solid 3px rgb(201, 201, 201);
        }
        
        .form__input{
            color: rgb(201, 201, 201);
            width: 80%;
            padding: 7px;
            margin: 6px 0;
            border: none;
            border-bottom: solid 3px rgb(159, 167, 166);
            background: transparent;
            
        }
        
        .form textarea{
        
            min-height: 140px;
            resize: none;
        
        }
        
        
        
        .form__section .boton{
        
            background: rgb(201, 201, 201);
            padding: 12px;
            width: 80%;
            border: none;
            outline: none;
            
        }
        
        .form__section .boton:hover{
        
           background: rgb(241, 255, 254);
           transition: .3s;
            
        }
        
        .form__section .boton:focus{
        
            background: rgb(159, 167, 166);
            
             
        }
        
        .form__section .boton:active{
        
            background: linear-gradient(to bottom, rgb(159, 167, 166) , rgb(201, 201, 201));
            
             
         }
    
    }
}