%contenedor-index{
    
    height: auto;
    width: 100%;
    margin-top: 9rem;
}

%logo-y-fotocolo{

    width: 100%;
    height: 100%;
    object-fit: contain;
}


%contenedor-derecho-sobremi{
    
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    
}
